# vim: ft=bash

# Common variables
export TEST_TC_NO=

# OSYM variables
export OSYM_USERNAME=
export OSYM_PASSWORD=

# YOKSIS variables
export YOKSIS_USERNAME=
export YOKSIS_PASSWORD=
export YOKSIS_CLIENT_ID=
export YOKSIS_CLIENT_SECRET=